.home{
padding: 2em;
color: #264d73;


}
.logo>img{
    width: 70px;
    border-radius: 50%;
    border: 5px solid greenyellow;
    
}
.logo{
    font-size: 1.8em;
}
p{
    font-size: 1.4em;
    padding-top: 1em;
}
i{
    font-family: 'Roboto Slab', serif;
}