.container-fluid{
    color: #264d73;
    padding: 2em;
    
}
h1{
    
    text-align: center;
    margin-bottom: 1em;
    border-bottom: 2px solid #264d73;
    padding-bottom: .5em;
    font-family: 'Permanent Marker', cursive;
}
h2{
    margin-bottom: 1em;
}
.logo>img{
    width: 70px;
    border-radius: 50%;
    border: 5px solid greenyellow;
    
}
.logo{
    font-size: 1.8em;
    margin-bottom: 2em;
    border-bottom: 2px solid greenyellow;
    padding-bottom: 1em;
}
.contact{
    margin-bottom: 2em;
    border-bottom: 2px solid greenyellow;
    padding-bottom: 1em;
}
.location>iframe {
height: 60%;
}
@media (max-width: 767px) {
    .logo{
        font-size: 1.3em;
    }
}